.login-container {
  padding: 30px;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  ion-item {
    margin-bottom: 15px;
    border-radius: 10px;
  }

  ion-button {
    margin-top: 20px;
    --border-radius: 12px;
  }
}